In [1]:
import pyspark as ps

import random
import math
import pandas as pd
import numpy as np
import scipy.stats as scs
import matplotlib.pyplot as plt
import statistics as stats
import seaborn as sns; sns.set(style="ticks", color_codes=True)

from pyspark.sql.types import *
from pyspark.sql.functions import lit
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType, FloatType
from pyspark.sql import functions as F

%matplotlib inline
plt.style.use('ggplot')
pd.options.display.float_format = '{:.2f}'.format

In [2]:
spark = (ps.sql.SparkSession
        .builder
        .master('local[4]')
        .appName('rtr_hws')
        .getOrCreate()
        )

sc = spark.sparkContext

In [3]:
sc

In [5]:
rtr_data = pd.read_csv('rtr_data')

In [6]:
rtr_data

,Unnamed: 0,fit,user_id,bust_size,item_id,weight_lbs,rating,rented_for,review_text,body_type,review_summary,category,height_inches,size,age,review_date
0,0,fit,420272,34d,2260466,137,10.00,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,68.00,14,28.00,2016-04-20
1,1,fit,273551,34b,153475,132,10.00,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,66.00,12,36.00,2013-06-18
2,3,fit,909926,34c,126335,135,8.00,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,65.00,8,34.00,2014-02-12
3,4,fit,151944,34b,616682,145,10.00,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,69.00,12,27.00,2016-09-26
4,5,fit,734848,32b,364092,138,8.00,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dress,68.00,8,45.00,2016-04-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146376,192539,fit,66386,34dd,2252812,140,10.00,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,69.00,8,42.00,2016-05-18
146377,192540,fit,118398,32c,682043,100,10.00,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,61.00,4,29.00,2016-09-30
146378,192541,fit,47002,36a,683251,135,6.00,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,68.00,8,31.00,2016-03-04
146379,192542,fit,961120,36c,126335,165,10.00,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,66.00,16,31.00,2015-11-25
146380,192543,fit,123612,36b,127865,155,10.00,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,66.00,16,30.00,2017-08-29

In [7]:
rtr_spark = spark.createDataFrame(rtr_data[['age', 'weight_lbs', 'height_inches', 'size', 'body_type', 'category', 'rating', 'fit', 'rented_for', 'review_date']])
rtr_spark.createOrReplaceTempView('rtr')